---
- name: Confirm
  ansible.builtin.pause:
    prompt: "Press ENTER to continue with installation of Go (Version: {{ go_version }}) (CTRL + C to cancel)"
  when: confirm_playbook

- name: Go Installation (Linux)
  ansible.builtin.include_tasks: tasks/go_linux.yml
  when: configure_go and ansible_facts["distribution"] != 'MacOSX'
  
- name: Go Installation (macOS)
  ansible.builtin.include_tasks: tasks/go_macos.yml
  when: configure_go and ansible_facts["distribution"] == 'MacOSX'
  
- name: Finished
  ansible.builtin.debug:
    msg: "Done!"
